<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message|Registration</title>
</head>
<body>
          <h2 align="center">Registration</h2>
          <p><a href="/student">Send Information</a></p> 
                <table border="1" align="center">
                        <tr>
                            <th>Sr.No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                         {% for x in data %}
                        <tr>
                           <td>{{forloop.counter}}</td>
                           <td>{{x.name}}</td>
                           <td>{{x.email}}</td>
                           <td>{{x.mobile}}</td>
                           <td>{{x.address}}</td>
                           <td><a href="/edit/{{x.id}}"></a>Edit</td>
                           <td><a href="/delete/{{x.id}}"></a>Delete</td>
                        </tr>
        
                        {% endfor %}      
                  </table>           
</body>
</html>